<script>
    import { ref, reactive, watch } from 'vue';
    export default {
        emits: ['save'],
        props: {
            itemEdit: {
                type: Object,
            }
        },
        setup(props, btn) {
            const device = reactive({
                id: Math.floor(Math.random()*100000),
                name: '',
                attribute: '',
                descreption: ''
            })
            
            const clickSave = () => {
                const newDevice = {...device}
                device.id = Math.floor(Math.random()*100000)
                btn.emit('save', newDevice)
                Object.assign(device,{
                id: Math.floor(Math.random()*100000),
            })
        }

            watch( props.itemEdit, (newValue, oldValue) => {
                console.log(`count changed from ${oldValue} to ${newValue}`);
            });
            
            return {
                device, clickSave
            }
        }
    }
</script>

<template>
    <div> 
        <label for="">Ten: </label>
        <input type="text" name="" id="" v-model="device.name">
    </div>
    <div> 
        <label for="">Loai: </label>
        <input type="text" name="" id="" v-model="device.attribute">
    </div>
    <div> 
        <label for="">Mo ta: </label>
        <input type="text" name="" id="" v-model="device.descreption">
    </div>
    <button class="btn btn-success" @click="clickSave">Them</button>
</template>
