<script>
  import { ref, reactive } from 'vue';
  import Devices from './Devices.vue'

  export default {
    components: {
      Devices: Devices,
    },
    setup() {
      const itemEdit = reactive({})
      const items= reactive([
        {
          id: 1,
          name: "Chuột",
          attribute: 1,
          descreption: "Chuột"
        },
        {
          id: 2,
          name: "Bàn Phím",
          attribute: 1,
          descreption: "Bàn Phím"
        },
      ])

      const clickSave = (newDevice) => {
          items.push(newDevice)
      } 

      const clickDelete = (item) => {
          // items.splice(items.indexOf(item), 1)
          items.splice(items.findIndex(i => i.id === item.id),1)
      }
      
      const clickEdit = (item) => {
        Object.assign(itemEdit, item)
        console.log(item)
      }

      return {
        items, clickSave, clickDelete, clickEdit, itemEdit
      }
    }
  }
</script>

<template>
  <div>
      <h1>Quản lý thiết bị công ty</h1>
      <Devices :itemEdit="itemEdit" @save="clickSave"></Devices>
      <table class="table">
        <thead >
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Attribute</th>
            <th scope="col">Descreption</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.attribute }}</td>
            <td>{{ item.descreption }}</td>
            <td>
              <button @click="clickEdit(item)">Edit</button>
              <button @click="clickDelete(index)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</template>

